<div class="nav nav-admin">
  <span class="nav-admin title">TestGuru Admin Panel</span>

  <div class="nav-admin user">
    <%= greeting %> |
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  </div>
</div>
