<div class='col-md-3'>
  <div class='thumbnail'>
    <a href=<%=image_url(badge.image_file_name)%> target='_blank'>
      <%= image_tag badge.image_file_name %>
      <div class='caption'>
        <%= badge.title %>
      </div>
    </a>
  </div>
</div>
