<div class="mt-2">
  <table class="table table-striped table-bordered">
    <thead class="thead-dark" align="center">
      <th><%= t('.question') %></th>
      <th><%= t('.url') %></th>
      <th><%= t('.user') %></th>
    </thead>

  <%= render @gists %>
  </table>
</div>
