<div class="footer">
  <%= current_year %>|
  <b>Daniel Yurkanskiy</b>|
  <a href=<%= github_url('DanielYouCan', 'test-guru') %> target="_blank">Test-guru project</a><br>
  <p>Test-guru project is a Ruby on Rails web application, that allows to manage and pass tests</p>
  <a href="http://www.thinknetica.com/" target="_blank">Учебный проект в онлайн-школе Thinknetica</a><br>
</div>
